@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html,
body {
	width: 100%;
	height: auto;
	min-height: 100% !important;
	margin: 0 0;
	padding: 0 0;
	background-color: #3bced6;
	font-family: 'Pacifico', cursive;
}

ul li {
	margin: 20px 0;
	padding: 0 0;
	list-style: none;
}

a {
	text-decoration: none;
	text-shadow: 1px 1px white;
}

a:visited, a:link {
	color: black;
}

a:hover {
	color: #cc0a37;
	text-shadow: none;
}

a:active {
	text-shadow: none;
}

button, 
p, label[for="color-picker"] {
	font-size: 1.25em;
	font-family: 'Pacifico', cursive;
	text-shadow: 1px 1px white;
}

button {
	cursor: pointer;
	display: inline-block;
	background-color: #4cf5ff;
	border: 2px solid #1c5d60;
	border-radius: 15px;
	box-shadow: 2px 2px 2px #1c5d60;
	outline: 0;
}

* {
	box-sizing: border-box;
}

button:hover {
	color: #cc0a37;
	border: 2px solid #cc0a37;
}

button:active {
	color: #ff5179;
	border: 2px solid #ff5179;
	box-shadow: none;
}

h1 {
	margin-top: 0;
	padding-top: 10px;
	text-shadow: 3px 3px white;
}

#sidebar {
	width: 20%;
	height: 100vh;
	float: left;
	background-color: #2f999e;
	margin: 0;
	display: block;
	box-shadow: 10px 0 50px 0 #1c5d60;
	font-family: 'Permanent Marker', cursive;
	overflow: auto;
}

#wrapper {
	margin: 0 auto;
	width: 45%;
	min-height: 100%;
	text-align: center;
	display: block;
}

input[type="number"] {
	font-size: 1.0em;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Pacifico', cursive;
	border: 2px solid #1c5d60;
	outline: 0;
	display: inline-block;
    max-width: 100px;
}

#playArea {
	width: 500px;
	height: 500px;
	border: 2px solid #1c5d60;
	box-shadow: 0 0 50px #1c5d60;
	background-color: white;
	position: absolute;
	
	margin: 0 auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-top: 0.5%;
	z-index: 1000;
}

#cl_square {
	content: "";
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
	display: inline-block;
	background-color: blue;
	border: 2px solid #1c5d60;
	box-shadow: 2px 2px 2px #1c5d60;
}

.square {
	cursor: pointer;
	position: absolute;
	margin: 0 0;
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
	background-color: white;
	border: 1px solid black;
	z-index: 5000;
}

#copy {
	font-size: 0.75em;
	position: absolute;
	bottom: 0;
	right: 10px;
}

#warning {
	color: #cc0a37;
	width: 350px;
	background-color: #ffe2e9;
	font-size: 1.25em;
	font-family: 'Pacifico', cursive;
	border: 2px solid #cc0a37;
	border-radius: 15px;
	position: absolute;
	top: 200px;
	z-index: 9000;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
	padding: 10px 10px;
	visibility: hidden;
	box-shadow: 2px 2px 5px #cc0a37;
}

